
{{ define "main" }}


<section class="cards-section text-center" style="background: none;">
    {{ with .Content }}
    <div class="intro">
        {{- . -}}
    </div>
    {{ end }}

    <div>
        <div id="cards-wrapper" class="cards-wrapper row">
            {{ range .Pages }}
            <div class="item item-{{ .Params.Color }} col-md-{{ .Params.Width }} col-sm-{{ .Params.Width }} col-xs-{{ .Params.Width }}">
                <div class="item-inner">
                <div class="icon-holder">
                    <i class="icon {{ .Params.Icon }} "></i>
                </div><!--//icon-holder-->
                <h3 class="title">{{ .Title }}</h3>
                <p class="intro">{{ .Description }}</p>
                <a class="link" href="{{ .Permalink }}"><span></span></a>
                </div><!--//item-inner-->
            </div><!--//item-->

        {{end}}
        </div>
        </div>
</section>

{{ end }}

<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <title>{{ .Site.Title }}</title>

    {{ partial "head.html" . }}

</head>
{{ if eq .Params.Type "grid"}}
<body class="landing-page">
{{ else if eq .Params.Type "page" }}
<body class="body-{{ .Params.Color }}">
{{end}}

    <div class="page-wrapper">
        {{ partial "header.html" . }}
        

        <div class="container">
                {{ block "main" . }}
                {{ end }}
            
        </div>
        </div>
        
        {{ partial "footer.html" . }}

</body>

</html>
